{% extends "base.html" %}
{%block title%}Recipe-Login{%endblock%}



{% block extra_head %}
{% load static %}
<link rel="stylesheet" href="{% static 'style/style.css' %}">

{% endblock %}
{% block content %}
<body>
    <div class="container">
        <div class="login-box">
            <h2>Login</h2>
           {%include "alet.html"%}
            <form method="post">
                {% csrf_token %}
                <div class="textbox">
                    <input type="text" name="username" required>
                    <span>Username</span>
                </div>
                <div class="textbox">
                    <input type="password" name="password" required>
                    <span>Password</span>
                </div>
                <button type="submit" class="btn">Login</button>
                <div class="register-container">
                    <p>Not an account? <a href="/register" class="register-link">Register</a></p>
                </div>
                
            </form>
        </div>
    </div>
</body>
{%endblock%}