.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

h2 {
    color: #0072ff;
    margin-bottom: 20px;
}

.styled-table {
    width: 100%;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    text-align: left;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background: #0072ff;
    color: #ffffff;
    text-align: left;
}

.styled-table th, .styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:hover {
    background: #f1f1f1;
    transform: scale(1.01);
}

.styled-table tbody tr:nth-of-type(even) {
    background: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #0072ff;
}

.recipe-img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    object-fit: cover;
}

/* Primary button styles */
.btn-primary {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0072ff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #005bb5;
}
