body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    height: 100vh;
   
}

.container {
    width: 100%;
    max-width: 400px;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    margin-top: 80px; 
    margin-bottom: 80px;
    
    
}

.login-box {
    text-align: center;
    position: relative;
    z-index: 1;
}

h2 {
    margin: 0 0 20px;
    padding: 0;
    color: #0072ff;
    font-size: 24px;
    text-transform: uppercase;
}

.textbox {
    position: relative;
    margin-bottom: 30px;
}

.textbox input {
    width: 100%;
    padding: 10px 10px;
    background: none;
    border: none;
    border-bottom: 2px solid #0072ff;
    outline: none;
    color: #000;
    font-size: 18px;
    transition: 0.3s;
}

.textbox span {
    position: absolute;
    left: 10px;
    bottom: 10px;
    pointer-events: none;
    font-size: 18px;
    color: #999;
    transition: 0.3s;
}

.textbox input:focus ~ span,
.textbox input:valid ~ span {
    transform: translateY(-20px);
    font-size: 14px;
    color: #0072ff;
}

.btn {
    width: 100%;
    background: #0072ff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    transition: 0.3s;
}

.btn:hover {
    background: #005bb5;
}

.register-container {
    margin-top: 20px;
    text-align: center;
}

.register-container p {
    font-size: 16px;
    color: #333;
    margin: 0;
}

.register-container .register-link {
    color: #0072ff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s, transform 0.3s;
}

.register-container .register-link:hover {
    color: #005bb5;
    transform: scale(1.1);
}
